.App {
  text-align: center;
}

.App-logo {
  width: 100px;
  height: 100px;
  object-fit: contain; /* 画像の比率を保ったまま収める */
  margin-left: 24px; /* 左に余白をつける */
}

.App-body {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  /* appbar: 100px, bottom-bar: 100px を引く */
  height: calc(100vh - 200px);
  min-height: unset; 
   margin: 0px 0;
}

h4 {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.App-link {
  color: #61dafb;
}


.appbar {
  width: 100vw;          
  min-width: 100%;   
  height: 100px;
  background-color: #0F987C;
  display: flex;
  align-items: center;
  position: relative;
}

.appbar-title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 1.25rem;
  font-weight: bold;
}

.bottom-bar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  background: #0F987C;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  z-index: 100;
}

.bottom-button {
  width: 100vw;
  max-width: 100vw;
  height: 100px;           /* 追加：高さを50pxに固定 */
  border: none;
  border-radius: 0;
  background: #0B4CC4;
  color: #F2F2F2;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 0;             /* 追加：余計な余白をなくす */
  cursor: pointer;
}


.centerText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200%;
  width: 100%;
  margin-top: 0;
  font-size: 24px;
  color: #333;
}

.custom-snackbar {
  background-color: #0F987C;
  color: #fff;
  font-size: 16px;
  border-radius: 8px;
  height: 200px;
  width: 100px;
}

.graphContainer{
  display: flex;
  align-items: center;
  color: #000000;
}

.label{
  writing-mode: horizontal-tb; 
  margin-right: 8px;            
  font-size: 16px;
  line-height: 1;
}